@{
    ViewData["Title"] = "Home Page";
}


        <div class="boxForm">
            <div class="row">
                <div class="col">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon ui-widget">
                            <img src="images/aeroplane.png" alt=""/>
                        </div>
                        <input placeholder="From" name="srchFrom"  value="prague" class="form-control" id="srchFrom" list="datalistFrom"> 
                        <datalist id="datalistFrom"> </datalist>
                    </div> 
                </div>    
                <div class="col">

                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon">
                            <img src="images/aeroplane.png" alt=""/>
                        </div>
                        <input placeholder="To" name="srchTo"  value="vienna" class="form-control" id="srchTo" list="datalistTo">
                        <datalist id="datalistTo"></datalist>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0 date" data-provide="datepicker">
                        <div class="input-group-addon">
                            <img src="img/calendar.png" alt=""/>
                            Departure
                        </div>
                        <input class="datepicker form-control" id="departure" data-date-format="mm/dd/yyyy">
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0 date" data-provide="datepicker">

                        <div class="input-group-addon">
                            <img src="img/calendar.png" alt=""/>
                            Return
                        </div>
                        <input class="datepicker form-control" id="return" data-date-format="mm/dd/yyyy">
                    </div>
                </div>
            </div>

            <input class="btn btn-primary" type="button" value="Submit" onclick="getFlights(this)">

            <div id="lety">
                <!--<div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="text-left" id="spolecnost">
                                  
                                    <h6 id="spol"> Spolecnost</h6>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                OD-DO
                            </div>
                            <div class="col-sm-3">
                                Doba trvání letu
                            </div>
                            <div class="col-sm-2">
                                <h4>Cena</h4>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <div class="text-center">
                           
                            Šipka
                        </div>

                    </div>
                </div> -->  
            </div>   
         
        </div>
<div id="boxMap">
    <div id='map'></div>
</div>
