html,body {
   height:100%;
}
#map {
    height: 100%;
}  
.boxForm{
    overflow-x: scroll;
    margin-top: 45px;
    margin-left: 15px;
    width: 50%;
    float: left;
    height: 850px;
}
.ods{
    margin-top:100px;
}
#boxMap{
    margin-top:45px;
    height: 90%;
    width: 45%  ;
    float: right;
}
